@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sliderRange {
    position: relative;
    width: 80%;
    margin: 20px auto 40px auto;
  }
.bullet_initial {
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    height: 20px;
    position: absolute;
    top: inherit;
    left: 0;
    margin-top: -8px;
    cursor: grab;
}

.bullet_initial:active {
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    height: 20px;
    position: absolute;
    top: inherit;
    left: 0;
    margin-top: -8px;
    cursor: grabbing;
}
.bullet_initial:hover {
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    height: 20px;
    position: absolute;
    top: inherit;
    left: 0;
    margin-top: -8px;
    cursor: grabbing;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

  .bullet_final {
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    height: 20px;
    position: absolute;
    top: inherit;
    right: 0;
    margin-top: -12px;
    cursor: grab;
}

  .bullet_final:active {
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    height: 20px;
    position: absolute;
    top: inherit;
    right: 0;
    margin-top: -12px;
    cursor: grabbing;
}

.bullet_final:hover {
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    height: 20px;
    position: absolute;
    top: inherit;
    right: 0;
    margin-top: -12px;
    cursor: grabbing;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

  .line {
    width: 100%;
    background: grey;
    height: 4px;
  }
  .ValorMinimo {
    position: absolute;
    top: -30px;
    left: 1px;
    font-size: 12px;
    color: #000;
    }
  .ValorMaximo {
    position: absolute;
    top: -30px;
    right: -6px;
    font-size: 12px;
    color: #000;
    }
}

